.cardList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: lightgoldenrodyellow;
}

@media only screen and (max-width: 550px){
    .cardList{
        /* background-color: blue; */
        width: 350px;
    }
}